[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[packages]
tqdm = "*"
scipy = "*"
opencv-python = "*"
setuptools = "*"
torch = "*"
provider = "*"
imageio = "*"
matplotlib = "*"
tfrecord = "*"
natsort = "*"

[dev-packages]

[requires]
python_version = "3.8"
